.header-div{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-row{
    display:flex;
    flex-direction: row;
    height: 50px;
}

.img-contain{
    max-width: 100%;
    max-height: 100%
}

#nav-links{
    display: flex;
    justify-content: space-between
}

#intro-heading{
    margin-top: 30px;
    margin-bottom:0px;
    font-size:40px;
}

#intro-para{
    padding-bottom: 30px;
    font-size:20px;
    color:#444
}
.about-me-para{
    font-size:16px;
    color:#383838;
    font-family: sans-serif;
}
.proj-text-container{
    padding-left: 140px;
    padding-right: 140px;
}
.proj-heading-para{
    font-size:20px;
    color:#383838;
    font-family: sans-serif;
    text-align: center
}

  .wrapper{
    display: flex;
    flex-direction: column;
  }

  .content {
    display: flex;
    flex: 1;
  }
  .columns{
    display: flex;
    flex:1;
  }
  .main{
    flex:1;
    order: 2;
     word-wrap:break-word
  }
  .sidebar-first{
    width: 29%;
    order: 1;
  }
  .sidebar-second{ 
    width: 29%;
    order: 3;
  }

  .sidebar-proj-first{
    width: 18%;
    order: 1;
  }
  .sidebar-proj-second{ 
    width: 18%;
    order: 3;
  }
  .projbar-first{
    width: 28%;
    order: 1;
    padding-left: 20px;
  }
  .projbar-second{ 
    width: 72%;
    order: 2;
    padding-left: 20px;
  }

  .project-link{
      height:150px
  }

  .first-proj{
    margin-top:100px;
  }

  .second-proj{
    margin-top:60px;
  }

  .third-proj{
    margin-top:60px;
  }

  .proj-title-header{
      font-size: 30px;
      margin:0px;
      padding:5px
  }

  .proj-desc-header{
      padding-left:5px;
      padding-bottom: 10px;
    color:#222;
    margin:0px;
  }

  .gray-text{
      color:#777
  }

  .about-work-links{
      text-decoration: none;
      color:#C7C7C7;
  }

  .about-work-links:hover{
    color:#C7C7C7;
    color:#000;
    transition-duration: 0.5s
}

.blue-links{
    color:#42BFFF;
    text-decoration: none
}

.proj-buttons{
    width: 145px;
    height:30px;
    color:#42BFFF;
    border:#42BFFF 1px solid;
    border-radius: 2px;
    background-color: #FFF;
    cursor: pointer
}

.proj-buttons:hover{
    color:#FFF;
    background-color: #42BFFF;
    transition-duration: 0.5s
}

.project-heading{
    text-align: center;
    margin-top: 30px;
    font-size:44px;
    font-family: sans-serif;
}

.proj-img-div{
    text-align: center;
    width:100%
}

.proj-paras{
    padding-top:30px
}

.project-sub-heading{
    font-size:30px;
    font-family: sans-serif;
    margin-bottom: 0px
}